@import "reset.css";
/* box-sizing: border-box; */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: Arial,'Arial',regular,sans-serif;
    font-size: 12px;
    vertical-align: baseline;
}

.clear {
	clear: both;
}

 @font-face {
    font-family: Bebas; /* Имя шрифта */
    src: url(fonts/BEBAS.TTF); /* Путь к файлу со шрифтом */
}

p {
	/* line-height: 0.9; */
}

body {
	width: 1920px;
	background-image: url('./images/picv.jpg');
  background-color: white;
  background-repeat: no-repeat;
  z-index: 100;	
}

.wraper {
  width: 1200px; 
  margin: -25px auto;
  z-index: 101;  
  /* background-color: white; */
  /* font-family: Arial 12px; */ 
  }
#line {
  z-index: 1;
  height: 35px;
  background-image: url('./images/line.png');
}   
.header img {
  /*margin: 22px 0 0 0;*/
  /* float: left; */
  }

.menu {
  
  }
.menu ul li {
  float: left;  
}
.menu ul li a {
  margin: 0 50px 0 0;
  font-size: 14px;
  color: white;
  text-decoration: none;
}
.menu ul li a:hover {
  background-color: #A30224;
  /*padding: 5px 10px;*/
}
.content {
  /*position: relative;*/
  margin-top: 20px;
}
#fmbig {
  margin: 0 auto;
}

#menu2 {
  float: left;
  margin: 0px 0px 0 0px;
  position: absolute;
  top: 230px;
  }
#menu2 ul li {
  float: left;
  /* font-size: 25px; */   
}
#menu2 ul li a {
  margin: 0 30px 0 0;
  font-size: 12px;
  color: white;
  text-decoration: none;
}
#menu2 ul li a:hover {
  background-color: #A30224;  
}